* {
	font-family: Futura, Avenir }

h2 {
	font-family: Futura ;
	font-size: 80 px ;
	color: green }

h4 {
	font-family: Futura ;
	font-size: 44px ;
	color: green }

h5 {
	font-family: Futura ;
	font-size: 32px ;
	color: green }	

li {
	font-family: Avenir ;
	font-size: 32px ;
	color: #7c7977 }

ul {
	font-family: Avenir ;
	font-size: 32px ;
	color: #7c7977 }	
	
p {	
	font-family: Avenir ;
	font-size: 32px ;
	color: #7c7977 }

i {
	font-size: 28px ;
	color: red }	

b {
	size: 24px ;
	color: black }	

th {
	font-size: 36px ;
	color: #7c7977 }

label {
	color: #7c7977 }

img {
	background-color: pink }		



















