/*  General  */


body { 
	line-height: 1.5;
	margin: 0px 100px 0px 100px;
	}

p { 
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 110%;
	color: black;
	font-weight: normal;
	}

h1 {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 160%;
	text-transform: uppercase;
	color: black;
	font-weight: normal;
	margin-bottom: 0px
}

h2 {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 100%;
	color: black;
	font-weight: normal;
	font-style: italic;
	margin-top: 0px;

}
h3 {
	font-family: 'Wanderlust Boho';
	font-size: 150%;
	color: black;
	font-weight: normal;
}


h4 {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 100%;
	text-transform: uppercase;
	color: black;
	font-weight: normal;
	margin-bottom: -10px; 
	text-align: center;
}

h5 {
	font-family: 'Wanderlust Boho';
	font-size: 180%;
	color: #b81252;
	font-weight: normal;
	margin-bottom: 0;
}

ul {
	list-style-type: none;
	line-height: 2;
}

a:link { 
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-weight: 110%; 
	font-weight: black;
	text-decoration: none; 
	color: black;
	}

a:hover, a:focus, a:active, a:visited { 
	text-decoration: underline; 
	color: #b81252;
	}

a:visited { 
	color: black;
}	

div#navbar { 
	font-family: 'Helvetica', sans-serif;
	height: 300px; 
	width: 100%; 
	padding-top: 0px;
	list-style: none;
	text-align: center;
	color: black;
} 

div#navbar ul { 
    display: inline-block;
    padding: 120px 20px 0px 0px;
} 

div#navbar li { 
	display: inline; 
	padding: 35px 35px 35px 35px;
	text-transform: uppercase;
} 

div#content figure { 
	margin: 50px 0px 0px 0px;
	clear: left;
}

div#content a { 
	margin: 700px 0px 0px 0px;
	position: absolute;
	float: left;
}

/*  Index page (Homepage) */


.vanilla p { 

}

.gingerbread p { 
	position: absolute;
	right: 0;
}

.gingerbread figure { 
	position: absolute;
	right: 0;
}

.gingerbread p a { 
	position: absolute;
	right: 0;
}

/*  Recipe Search (Recipe Index) page  */


.apple-danish {
	position: relative; 
}

.apple-danish h3 { 
   position: absolute; 
   top: 285px; 
   left: 0; 
   width: 100%;
}

.apple-danish h3 span { 
	width: 100%; 
	opacity: 0.75;
    font-family: 'Wanderlust Boho';
	font-size: 125%;
	color: black;
	font-weight: normal;
    letter-spacing: 1px;  
    background-color: white;
    opacity: 50%;
    padding: 25px 152px 25px 15px;
}

.banana-bread {
	position: relative;
   	width: 100%;
}

.banana-bread h3 { 
   position: absolute; 
   top: 285px; 
   left: 370px; 
   width: 100%;
}

.banana-bread h3 span { 
	width: 100%; 
	opacity: 0.75;
    font-family: 'Wanderlust Boho';
	font-size: 125%;
	color: black;
	font-weight: normal;
    letter-spacing: 1px;  
    background-color: white;
    opacity: 50%;
    padding: 25px 67px 25px 15px;
}

.scones {
	position: relative; 
   	width: 100%;
}

.scones h3 { 
   position: absolute; 
   top: 285px; 
   left: 740px; 
   width: 100%;
}

.scones h3 span { 
	width: 100%; 
	opacity: 0.75;
    font-family: 'Wanderlust Boho';
	font-size: 125%;
	color: black;
	font-weight: normal;
    letter-spacing: 1px;  
    background-color: white;
    opacity: 50%;
    padding: 25px 106px 25px 15px;
}

.bread-pastries a {
   	top: 500px;
}




.cakes {
	position: relative; 
   	width: 100%;
   	top: 200px;
}

.cakes h1 {
   position: absolute; 
   top: 250px;
}

.blueberry-cheesecake h3 { 
   position: absolute; 
   top: 555px; 
   left: 0; 
   width: 100%;
}

.blueberry-cheesecake h3 span { 
	width: 100%; 
	opacity: 0.75;
    font-family: 'Wanderlust Boho';
	font-size: 125%;
	color: black;
	font-weight: normal;
    letter-spacing: 1px;  
    background-color: white;
    opacity: 50%;
    padding: 25px 67px 25px 15px;
}

.chocolate-cake {
	position: relative;
   	width: 100%;
}

.chocolate-cake h3 { 
   position: absolute; 
   top: 555px; 
   left: 370px; 
   width: 100%;
}

.chocolate-cake h3 span { 
	width: 100%; 
	opacity: 0.75;
    font-family: 'Wanderlust Boho';
	font-size: 125%;
	color: black;
	font-weight: normal;
    letter-spacing: 1px;  
    background-color: white;
    opacity: 50%;
    padding: 25px 67px 25px 15px;
}

.carrot-cake {
	position: relative; 
   	width: 100%;
}

.carrot-cake h3 { 
   position: absolute; 
   top: 555px; 
   left: 740px; 
   width: 100%;
}

.carrot-cake h3 span { 
	width: 100%; 
	opacity: 0.75;
    font-family: 'Wanderlust Boho';
	font-size: 125%;
	color: black;
	font-weight: normal;
    letter-spacing: 1px;  
    background-color: white;
    opacity: 50%;
    padding: 25px 106px 25px 15px;
}




/*  Recipe page  */

div#icons ul {
	display: block;
}


div#icons li { 
	display: inline; 
}







/*  Contact page  */

div#text p {
	line-height: .8;
}

div#form {
	float: right;
	text-align: left;
	margin-top: -130px;
	margin-right: 550px;
	width: 100px;
}

label {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-weight: normal;
} 

textarea {
	font-family: 'Arial', 'Helvetica', sans-serif;
	font-size: 90%;
	height:200px;
    width:500px;
}

input {
		font-family: 'Arial', 'Helvetica', sans-serif;
		font-size: 90%;
		height:20px;
    	width:400px;
}

/*  Footer  */


footer { 
	display: block;	
	clear: both;
	padding-top: 800px;
	}



